html {
    font-size: 62.5%; 
  }
  header img {
 padding: 0 200px;
  }
  body {
    margin: 0;
  
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.4rem;
  }
  h2 {
    font-size: 2em;
  }

  article {
    display: inline-block;
    margin: 0 0px 0 100px;
  }

 

  